@font-face {
    font-family: "Andes";
    src: url(Cee_Fonts/cee_andes/AndesNeueAlt2-Black.ttf)
    }
    @font-face {
    font-family: "Andes-lighter";
    src: url(Cee_Fonts/cee_andes/AndesNeueAlt2-Medium.ttf)
    }
    @font-face {
      font-family: "sans";
      src: url(Cee_Fonts/cee_sans/WorkSans-Regular.ttf);
  }

.cee-andes{
    font-family: 'Andes', sans-serif !important;
}
.cee-sans{
    font-family: 'sans', sans-serif !important;
}
.cee-andes-light{
    font-family: 'Andes-lighter', sans-serif !important;
}
/* SCROLLBAR CUSTOMIZED */
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        border-radius: 10px;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #ECEEFD; 
        border-radius: 10px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #374FC4;
      }