/*CEE-NAV CLICKABLE SVG*/
.svg-button {
  position: relative;
  display: inline-block;
 }
 .svg-button:after {
   content: ""; 
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left:0;
 }

/* CEE-NAV */
.cee-nav{

	position: relative;
	margin: 270px auto 0;
	width: intrinsic; /* Safari/WebKit uses a non-standard name */
	width: -moz-max-content; /* Firefox/Gecko */
	width: -webkit-max-content; /* Chrome */
	width: max-content;
	height: 60px;
	background: #FFFFFF;
	border-radius: 50px;
}
.cee-nav a{
	font-size: 20px;
	color: #171729;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}

.cee-nav-mobile{
  margin:auto;
}
.cee-nav .animation{
	position: absolute;
	height: 50px;
	/* height: 5px; */
	top: 8%;
	/* bottom: 0; */
	margin-left:5px;
	z-index: 0;
	background: #B6BEF6;
	border-radius: 40px;
	transition: all .5s ease 0s;
}
.cee-nav a:nth-child(1){
	width: 105px;
}
.cee-nav a:nth-child(1):hover~.animation{
	width: 100px;
	left: 0;
}
.cee-nav .start-home{
	width: 100px;
	left: 0;
}
.cee-nav a:nth-child(2){
	width: 100px;
}

.cee-nav a:nth-child(2):hover~.animation{
	width: 100px;
	left: 105px;
}
.cee-nav .start-about{
	width: 100px;
	left: 105px;
}
.cee-nav a:nth-child(3){
	width: 100px;
}
.cee-nav a:nth-child(3):hover~.animation{
	width: 100px;
	left: 210px;
}
.cee-nav .start-terms{
	width: 100px;
	left: 210px;
}
.cee-nav a:nth-child(4){
	width: 100px;
}
.cee-nav a:nth-child(4):hover~.animation{
	width: 85px;
	left: 322px;
}
.cee-nav .start-policy{
	width: 85px;
	left: 322px;
}
.cee-nav a:nth-child(5){
	width: 100px;
}
.cee-nav a:nth-child(5):hover~.animation{
	width: 120px;
	left: 300px;
}
.cee-nav-button{
  border-radius:50%;
  border:none;
  padding:10px;
  background-color:#374FC4;
  width:50px;
  color:white;
}
.cee-nav-border{
  border: 1px solid #EAEAEA;
}

/* LANDING_EN START */
.cee-button:hover {
    color: #171729;
    background-color: #B6BEF6 !important;
    transition: 0.2s;
  }
  /* edit fonts of h1 and h2 to andes, MUST BE EDITTED LATER */
  .cee-header {
    font-family: 'Andes', sans-serif !important;
    font-size: 50px;
    color: #374FC4;
    line-height: 100%;
  }

  .cee-subheader {
    font-family: 'sans', sans-serif !important;
    color: #171729;
    font-size: 15px;
  }

  .cee-download {
    color: #fff;
    background-color: #374FC4;
    font-family: 'sans', sans-serif !important;
    font-size: 12px;
    padding: 16px;
  }

  .cee-download-modal {
    font-family: 'Andes-lighter', sans-serif !important;
    font-size: 40px;
    color: #374FC4;
    font-weight: bold;
  }

  .ceeSlide {
    position: relative;
  }

  .ceeSlide img {
    position: absolute;
  }

  .ceeSlide #ceePhone {
    left: 50%;
  }

  .ceeSlide #ceeIcons {
    left: 35%;
    top: 200px;
  }

  .ceeSlide #ceeGauge {
    left: 70%;
    top: 100px;
    z-index: 1;

  }

  .ceeSlide #ceePremium {
    left: 27%;
    top: 400px;
    z-index: 1;
  }

  .ceeSlide #ceeArrow {
    left: 20%;
    top: 300px;
  }

  .ceeSlide #ceeSpeeds {
    left: 70%;
    top: 400px;
    z-index: 1;

  }
  /* LANDING EN END */

  /*TERMS START */
  .cee-hr{
    border-top:1px solid #BDBECA
  }
  .cee-purple{
    background-color:#374FC4;
    color:white;
    transform:scale(1.5);
  }
  footer a{
    text-decoration: none;
  }
  .cee-download {
    color: #fff;
    background-color: #374FC4;
    font-family: 'sans', sans-serif !important;
    font-size: 12px;
    padding: 16px;
  }
  /* TERMS END */

  /* ABOUT START*/
  .cee-hr{
    border-top:1px solid #BDBECA
  }
  .cee-purple{
    background-color:#374FC4;
    color:white;
    transform:scale(1.5);
  }
  footer a{
    text-decoration: none;
  }
  .cee-download {
    color: #fff;
    background-color: #374FC4;
    font-family: 'sans', sans-serif !important;
    font-size: 12px;
    padding: 16px;
  }
  .cee-footer-heading {
    font-family: 'Andes', sans-serif !important;
    font-size: 30px;
    color: #374FC4;
    line-height: 100%;
  }
  .cee-footer-list{
    list-style: none; 
    padding:0px;
  }
  .cee-footer-list li{
    margin-bottom:5px;
  }
  .cee-footer-list li a{
    text-decoration: none;
  }
  .cee-socials {
    color: #374FC4;
  }
  /* ABOUT END */

  /* POLICY START */

  #cee-policy-menu a{
    text-decoration: none;
  }
  #cee-policy-menu .tab-button{
    background-color: #EBF8FF;
    color:#000;
  }
  #cee-policy-menu .tab-button:hover{
    background-color:#36B5FF !important;
    color:white !important;
    transition:0.1s;
  }
  .active-policy-tab {
    background-color:#36B5FF !important;
    color:white !important;
  }
/* POLICY END */
  /* TERMS START */
  
  #cee-term-menu a{
    text-decoration: none;
  }
  #cee-term-menu .tab-term-button{
    background-color: #F9EFFD;
    color:#000;
  }
  #cee-term-menu .tab-term-button:hover{
    background-color:#C350EB !important;
    color:white !important;
    transition:0.1s;
  }
  .active-term-tab {
    background-color:#C350EB !important;
    color:white !important;
  }


  /* RESPONSIVE NAVIGATION */

  
 /* * {
	 box-sizing: border-box;
}
 html, body {
	 font-family: 'Nunito', sans-serif;
	 height: 100%;
	 width: 100%;
}
 body {
	 background: #404040;
	 display: table;
}
 a {
	 text-decoration: none;
} */
 /* .mobile-wrapper {
	 display: table-cell;
	 text-align: center;
	 vertical-align: middle;
}
 .mobile-wrapper .mobile-container {
	 background: #fff;
	 border: 20px solid #666;
	 border-bottom-width: 80px;
	 border-radius: 20px;
	 box-shadow: 0 0 10px 10px rgba(0, 0, 0, .1);
	 display: inline-block;
	 height: 520px;
	 margin: 0 30px;
	 position: relative;
	 width: 320px;
}
 .mobile-wrapper .mobile-container::before {
	 background: #555;
	 border: 2px solid #4a4a4a;
	 border-radius: 50%;
	 bottom: -67px;
	 content: '';
	 display: block;
	 height: 50px;
	 left: 50%;
	 position: absolute;
	 width: 50px;
	 transform: translateX(-50%);
	 z-index: 1;
} */
 .content {
  /* background: aliceblue; */
  display: block;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.content .nav-not-cee {
  /* background: #fff; */
  /* border-bottom: 1px solid #ddd; */
  height: 60px;
  position: relative;
  margin-bottom:20px;
}
.content .nav-links {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}
.content .nav-links ul{
 padding-left:0px !important;
}
.content .nav-links::before {
  background: rgba(0, 0, 0, .5);
  content: '';
  height: 500vh;
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 100vh;
  transition: all 0.3s;
}
.content .nav-links li {
  border-bottom: 1px solid #374FC4;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.3s;
  list-style:none;
}
.content .nav-links li a {
  background: #ECEEFD;
  color: #374FC4;
  display: block;
  font-size: 18px;
  font-weight: 700;
  padding: 12px 20px;
  text-align: left;
  width: 100%;
  transition: all 0.3s;
  text-decoration:none;
}
.content .nav-links li a:hover {
  color: #374FC4;
}
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
input[type="checkbox"]:checked + label {
  border: 4px solid silver;
  border-radius: 50%;
  height: 28px;
  top: 16px;
  left: 18px;
  width: 28px;
  transform: rotate(-135deg);
}
input[type="checkbox"]:checked + label::before {
  background: silver;
  top: 8px;
  left: 4px;
  width: 12px;
}
input[type="checkbox"]:checked + label::after {
  background: silver;
  opacity: 1;
  top: 8px;
  left: 4px;
  visibility: visible;
  width: 12px;
}
input[type="checkbox"]:checked + label:hover {
  border-color: #374FC4;
}
input[type="checkbox"]:checked + label:hover::before, input[type="checkbox"]:checked + label:hover::after {
  background: #374FC4;
}
input[type="checkbox"]:checked ~ .nav-links::before {
  opacity: 1;
  visibility: visible;
}
input[type="checkbox"]:checked ~ .nav-links li {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
input[type="checkbox"]:checked ~ .nav-links li:nth-child(1) {
  transition-delay: 0s;
}
input[type="checkbox"]:checked ~ .nav-links li:nth-child(2) {
  transition-delay: 0.1s;
}
input[type="checkbox"]:checked ~ .nav-links li:nth-child(3) {
  transition-delay: 0.2s;
}
input[type="checkbox"]:checked ~ .nav-links li:nth-child(4) {
  transition-delay: 0.3s;
}
label {
  background: none transparent;
  border: 4px solid #374FC4;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  cursor: pointer;
  display: block;
  height: 24px;
  position: absolute;
  top: 18px;
  left: 20px;
  width: 24px;
  transition: all 0.2s;
}
label::before {
  background: #374FC4;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 24px;
  transition: all 0.2s;
}
label::after {
  background: #374FC4;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: 6px;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  transform: rotate(90deg);
  transition: all 0.2s;
}
