/* LANDING_EN START */
.cee-button:hover {
    color: #171729;
    background-color: #B6BEF6 !important;
    transition: 0.2s;
  }
  /* edit fonts of h1 and h2 to andes, MUST BE EDITTED LATER */
  .cee-header {
    font-family: 'Andes', sans-serif !important;
    font-size: 50px;
    color: #374FC4;
    line-height: 100%;
  }

  .cee-subheader {
    font-family: 'sans', sans-serif !important;
    color: #171729;
    font-size: 15px;
  }

  .cee-download {
    color: #fff;
    background-color: #374FC4;
    font-family: 'sans', sans-serif !important;
    font-size: 12px;
    padding: 16px;
  }

  .cee-download-modal {
    font-family: 'Andes-lighter', sans-serif !important;
    font-size: 40px;
    color: #374FC4;
    font-weight: bold;
  }

  .ceeSlide {
    position: relative;
  }

  .ceeSlide img {
    position: absolute;
  }

  .ceeSlide #ceePhone {
    left: 50%;
  }

  .ceeSlide #ceeIcons {
    left: 35%;
    top: 200px;
  }

  .ceeSlide #ceeGauge {
    left: 70%;
    top: 100px;
    z-index: 1;

  }

  .ceeSlide #ceePremium {
    left: 27%;
    top: 400px;
    z-index: 1;
  }

  .ceeSlide #ceeArrow {
    left: 20%;
    top: 300px;
  }

  .ceeSlide #ceeSpeeds {
    left: 70%;
    top: 400px;
    z-index: 1;

  }
  /* LANDING EN END */

  /*TERMS START */
  .cee-hr{
    border-top:1px solid #BDBECA
  }
  .cee-purple{
    background-color:#374FC4;
    color:white;
    transform:scale(1.5);
  }
  footer a{
    text-decoration: none;
  }
  .cee-download {
    color: #fff;
    background-color: #374FC4;
    font-family: 'sans', sans-serif !important;
    font-size: 12px;
    padding: 16px;
  }
  /* TERMS END */

  /* ABOUT START*/
  .cee-hr{
    border-top:1px solid #BDBECA
  }
  .cee-purple{
    background-color:#374FC4;
    color:white;
    transform:scale(1.5);
  }
  footer a{
    text-decoration: none;
  }
  .cee-download {
    color: #fff;
    background-color: #374FC4;
    font-family: 'sans', sans-serif !important;
    font-size: 12px;
    padding: 16px;
  }
  .cee-footer-heading {
    font-family: 'Andes', sans-serif !important;
    font-size: 30px;
    color: #374FC4;
    line-height: 100%;
  }
  .cee-footer-list{
    list-style: none; 
    padding:0px;
  }
  .cee-footer-list li{
    margin-bottom:5px;
  }
  .cee-footer-list li a{
    text-decoration: none;
  }
  /* ABOUT END */